* {
    font-size: calculateRem(16px);
    font-family: "NotoSans-SC-Regular";
}

h1 {
    font-family: "AdamWarrenpro";
    font-size: calculateRem(36px);
    color: $color-red;
    @media (min-width: 991px) {
        font-size: calculateRem(52px);
    }
}

h2 {
    font-family: "NotoSans-SC-Bold";
    font-size: calculateRem(31px);
    color: $color-white;
    margin-top: 0;
    margin-bottom: calculateRem(15px);
}

h3 {
    font-family: "NotoSans-SC-Bold";
    font-size: calculateRem(21px);
    color: $color-393939;
}

.section-title {
    font-family: "AdamWarrenpro";
    font-size: calculateRem(46px);
    color: $color-white;
}

body {
    margin: 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.align-items-start {
    align-items: flex-center;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline-flex {
    display: inline-flex;
}

.d-none {
    display: none;
}

.position-relative {
    position: relative;
}

.overlay-trending-logo {
    position: absolute;
    max-width: calculateRem(86px);
}

@media (min-width: 991px) {
    .d-lg-flex {
        display: flex;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-none {
        display: none;
    }
}

.content {
    overflow-x: hidden;
    margin-top: calculateRem(70px);
    @media (min-width: 768px) {
        overflow-x: unset;
    }
}

.custom-container {
    // width: 100%;
    padding-left: calculateRem(16px);
    padding-right: calculateRem(16px);
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 991px) {
        // margin-left: calculateRem(182px);
        // margin-right: calculateRem(182px);
        max-width: calculateRem(960px);
    }
    @media (min-width: 1200px) {
        // margin-left: calculateRem(182px);
        // margin-right: calculateRem(182px);
        margin-left: auto;
        margin-right: auto;
        // max-width: none;
    }
}

// Form
form {
    margin-bottom: 0;
    overflow-x: hidden;
    .form-group {
        margin-bottom: calculateRem(35.3px);
        .input-group {
            position: relative;
            * {
                color: $color-white;
            }
            .prepend-position-1 {
                position: absolute;
                left: calculateRem(14px);
                bottom: calculateRem(14px);
            }
            .prepend-position-2 {
                position: absolute;
                left: calculateRem(47px);
                bottom: calculateRem(15px);
                +input {
                    padding-left: calculateRem(80px);
                }
            }
        }
        span {
            font-family: "NotoSans-SC-Bold";
        }
        input {
            width: 100%;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 1);
            padding-left: calculateRem(47px);
            padding-bottom: calculateRem(14px);
            color: $color-white;
            &:focus {
                outline: none;
            }
            &::-webkit-input-placeholder {
                /* Edge */
                color: $color-cacaca;
                font-family: "NotoSans-SC-Light";
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $color-cacaca;
                font-family: "NotoSans-SC-Light";
            }
            &::placeholder {
                color: $color-cacaca;
                font-family: "NotoSans-SC-Light";
            }
        }
    }
}

// Jquery Modal
.blocker {
    z-index: 999;
}

// title css for menu list title
.menu-list-title {
    h1 {
      margin-block-start: 0px;
      margin-block-end: 0px;
      font-weight:normal;
    }

    width: calculateRem(264px);
    //height: calculateRem(82px);
    padding-top: calculateRem(87px);
    margin-bottom: calculateRem(62px);
    text-align: center;
    margin-left: calculateRem(30px);
    @media (min-width: 375px) {
      margin-left: calculateRem(91px);
      margin-right: calculateRem(10px);
    }
    @media (min-width: 767px){
      width:calculateRem(490px);
    }

    .underline {
      display: block;
      transform: rotateZ(4deg);
      margin-left: auto;
      margin-right: auto;
      width: calculateRem(215px);
      @media (min-width: 991px) {
        width: calculateRem(493px);
        // transform: rotateZ(0deg);
      }
    }
  }
// title css for menu list title

