// Default sizes
$default-rem: 16px;  

// Colors 
$color-white: #ffffff;
$color-brick: #b52626;
$color-steel: #808285;
$color-fff-300: #fff300;
$color-red: #d00000;
$color-393939: #393939;
$color-878787: #878787;
$color-very-light-pink: #f0f0f0;
$color-black: #000000;