.c-about-us {
  padding-top: calculateRem(58px);
  padding-bottom: calculateRem(56px);
  .c-about-us-target-wrapper {
    padding-bottom: calculateRem(57px);
    @media (min-width: 768px) {
      margin-top: auto;
      margin-bottom: auto;
      padding-bottom: 0;
    }
    p {
      color: $color-393939;
    }
    a {
      font-size: calculateRem(21px);
      color: $color-878787;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      img {
        //   width: calculateRem(24px);
      }
    }
  }
  .c-about-us-logo-wrapper {
    text-align: center;
    .logo {
      width: calculateRem(128px);
      margin-bottom: calculateRem(25.7px);
    }
    .logo-text-wrapper {
      transform: rotate(-3deg);
      .section-title {
        color: $color-red;
      }
      .section-title-1 {
        font-size: calculateRem(38px);
        @media (min-width: 375px) {
          font-size: calculateRem(48px);
        }
        @media (min-width: 991px) {
          font-size: calculateRem(60px);
        }
      }
      .section-title-2 {
        font-size: calculateRem(28px);
        @media (min-width: 375px) {
          font-size: calculateRem(34px);
        }
        @media (min-width: 991px) {
          font-size: calculateRem(46px);
        }
      }
      .underline {
        display: block;
        transform: rotate(4deg);
        width: calculateRem(288px);
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 375px) {
          width: calculateRem(308px);
        }
        @media (min-width: 991px) {
          width: calculateRem(400px);
        }
      }
    }
  }
}
