header {
    background: $color-brick;
    width: 100%;
    height: calculateRem(70px);
    a {
        color: $color-white;
        text-decoration: none;
        opacity: .8;
        transition: .5s;
        @media (min-width: 991px) {
            margin-left: calculateRem(57px);
        }
        &.active,
        &:hover {
            opacity: 1;
        }
    }
}