.c-main-banner {
    background-image: radial-gradient(circle at 59% 56%, #dc0404, #780000 106%);
    &.full-page {
      height: calc(100vh - 70px);
      @media (min-width: 768px) {
        height: calc(50vh - 70px);
      }
      @media (min-width: 991px) {
        height: calc(80vh - 70px);
      }
      @media (min-width: 1500px) {
        height: calc(70vh - 70px);
      }
      .c-main-banner-wrapper {
        margin-bottom: -7rem;
        margin-right: -10rem;
        @media (min-width: 375px) {
          margin-bottom: -3rem;
          margin-right: -5rem;
        }
        @media (min-width: 768px) {
          display: flex;
          margin-right: 0;
        }
      }
      .banner-text {
        // position: absolute;
        // right: calculateRem(20px);
        // bottom: 112vw;
        margin-left: 0.5rem;
        margin-bottom: 1rem;
        transform: rotate(-3deg);
        @media (min-width: 375px) {
          margin-left: 5rem;
          margin-bottom: 2rem;
        }
        @media (min-width: 768px) {
          top: calculateRem(125px);
          left: calculateRem(125px);
          right: unset;
          bottom: unset;
          margin-bottom: unset;
        }
        @media (min-width: 1500px) {
          margin-right: 6rem;
        }
        .banner-text-wrapper {
          .dash {
            position: absolute;
            top: -0.5rem;
            left: -2.5rem;
            width: calculateRem(32px);
            @media (min-width: 991px) {
              width: calculateRem(51px);
              top: 0;
              left: -4rem;
            }
          }
          .underline {
            display: block;
            transform: rotateZ(4deg);
            margin-left: calculateRem(20px);
            width: calculateRem(212px);
            @media (min-width: 991px) {
              width: calculateRem(400px);
              transform: rotateZ(0deg);
              margin-left: 0;
            }
          }
        }
      }
      .banner-menu-wrapper {
        .quote-1 {
          position: absolute;
          top: calculateRem(25px);
          left: calculateRem(-20px);
          width: calculateRem(59px);
        }
        .quote-2 {
          display: none;
          @media (min-width: 768px) {
            display: block;
            position: absolute;
            top: calculateRem(0px);
            right: calculateRem(25px);
            width: calculateRem(46px);
          }
        }
        .banner-menu {
          // position: absolute;
          // left: 0;
          // margin-right: -25vw;
          // right: 0;
          // margin-bottom: -15vw;
          // bottom: 0;
          // right: -30vw;
          // bottom: -30vw;
          // max-width: calculateRem(334px);
          width: calculateRem(400px);
          height: calculateRem(441px);
          @media (min-width: 768px) {
            // position: relative;
            margin-right: -1rem;
            margin-bottom: -6vw;
            height: auto;
            // max-width: calculateRem(637px);
          }
          @media (min-width: 991px) {
            width: calculateRem(530px);
            margin-bottom: -3vw;
          }
          @media (min-width: 1200px) {
            width: calculateRem(480px);
          }
          @media (min-width: 1367px) {
            width: calculateRem(550px);
            margin-bottom: -2vw;
          }
          @media (min-width: 1500px) {
            width: calculateRem(637px);
            margin-bottom: -2vw;
          }
        }
      }
    }
    &.half-page {
      height: calc(55vh - 70px);
      .banner-text {
        transform: rotate(-3deg);
        text-align: center;
        .banner-text-wrapper {
          .underline {
            display: block;
            transform: rotateZ(4deg);
            margin-left: auto;
            margin-right: auto;
            width: calculateRem(212px);
            @media (min-width: 991px) {
              width: calculateRem(400px);
              // transform: rotateZ(0deg);
            }
          }
        }
      }
    }
    .logo {
      position: fixed;
      top: calculateRem(70px - 40.5px);
      left: calculateRem(24px);
      width: calculateRem(81px);
      height: calculateRem(81px);
      z-index: 11;
      @media (min-width: 991px) {
        position: absolute;
        top: calculateRem(29.7px);
        left: calculateRem(68px);
        width: calculateRem(131px);
        height: calculateRem(131px);
        z-index: unset;
      }
    }
    .banner-text {
      .section-title-1 {
        font-size: 36px;
        @media (min-width: 991px) {
          font-size: 60px;
        }
      }
      .section-title-2 {
        font-size: 28px;
        margin-left: 10px;
        @media (min-width: 991px) {
          font-size: 46px;
        }
      }
    }
  }
  