.c-menu-list {
  // padding-left: calculateRem(10px);
  // padding-right: calculateRem(10px);
  // @media (min-width: 991px) {
  //   // margin-top: calculateRem(87px);
  //   // margin-bottom: calculateRem(0px);
  //   padding-left: calculateRem(250px);
  //   padding-right: calculateRem(250px);
  // }

  #menu-list-title {
    h1 {
      margin-block-start: 0px;
      margin-block-end: 0px;
      font-weight:normal;
    }

    width: calculateRem(264px);
    //height: calculateRem(82px);
    margin-top: calculateRem(87px);
    margin-bottom: calculateRem(62px);
    margin-left: calculateRem(91px);
    margin-right: calculateRem(10px);
    text-align: center;
    @media (min-width: 991px){
      width:calculateRem(490px);
    }

    .underline {
      display: block;
      transform: rotateZ(4deg);
      margin-left: auto;
      margin-right: auto;
      width: calculateRem(215px);
      @media (min-width: 991px) {
        width: calculateRem(493px);
        // transform: rotateZ(0deg);
      }
    }
  }

  .row {
    .c-menu-card {
      padding-bottom: calculateRem(55px);
      padding-left: calculateRem(27px);
      padding-right: calculateRem(27px);
      @media (min-width: 991px) {
        padding-left: calculateRem(4px);
        padding-right: calculateRem(4px);
      }

      #menu-image {
        //width: calculateRem(300px);
        img {
          width: 100%; //calculateRem(300px);
        }
      }

      h3 {
        width: calculateRem(147px);
      }
  
      p {
        width: calculateRem(257px);
      }
    }
  }
}
