.c-menu-list {
  .overlay-chilli {
    position: absolute;
    width: calculateRem(158px);
    top: calculateRem(-60px);
    left: calculateRem(0px);
    @media (min-width: 991px) {
      left: calculateRem(-20px);
    }
    @media (min-width: 1200px) {
      left: calculateRem(0px);
    }
  }
}
